[submodule "themes/hugo-minimal-blog-theme"]
	path = themes/hugo-minimal-blog-theme
	url = https://github.com/nikhil-vemula/hugo-minimal-blog-theme.git
[submodule "public"]
	path = public
	url = https://github.com/nikhil-vemula/nikhil-vemula.github.io.git
	branch = master
