# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  buildAndDeploy:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      
    - name: Fetch submodules
      run: git submodule update --init --recursive
      
    - name: Run Hugo
      uses: crazy-max/ghaction-hugo@v1
      with:
        version: latest
        extended: false
        args: -D --minify --verbose

    - name: Git status
      run: git status

    - name: Deploy
      run: |
        git add .
        git config --global user.name 'Nikhil Vemula'
        git config --global user.email 'nikhil-vemula@users.noreply.github.com'
        git commit -m "Rebuilding site"
        git push
